<form asp-action="Guinhandulieu">
    <input type="text" name="Id" placeholder="số">
    <input type="text" name="Name" placeholder="số">
    <input type="submit" value="Guinhandulieu">
</form>
<h2>@ViewBag.Message</h2>